<footer class="l-footer">
	<div class="l-container footer">
		<div>
			<img src="/images/logo_2.svg" alt="" class="logo">
			<div class="text-center"><a href="#" class="js_contact_button">about me</a></div>
		</div>
		<div>
			<div class="footer__col">
				<h5>Docs</h5>
				<div>
					<a class="textbutton" target="_blank" href="/docs/QualityAssuranceOverview.pdf">Quality Assurance Outline</a>	
				</div>
				<div>
					<a class="textbutton" target="_blank" href="/docs/Front-EndStandards.pdf">Front-End Standards</a>
				</div>
				<div>
					<a class="textbutton" target="_blank" href="/docs/Herrera_ITC_AvantGarde_Book.pdf">Typography Book Design</a>
				</div>
			</div>
			<div class="footer__col">
				<h5>Social</h5>
				<div>
					<a class="textbutton" target="_blank" href="https://github.com/jackkelin">Github</a>		
				</div>
				<div>
					<a class="textbutton" target="_blank" href="https://twitter.com/jacckkelin">Twitter</a>
				</div>
				<div>
					<a class="textbutton" target="_blank" href="https://www.instagram.com/jacckkelin/">Instagram</a>
				</div>
				<div>
					<a class="textbutton" target="_blank" href="https://www.linkedin.com/in/jackelinherrera/">Linkedin</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="{{path_app}}js/vendor.js"></script>
<script type="text/javascript" src="{{path_app}}js/modernizr.js"></script>
<script type="text/javascript" src="{{path_app}}js/scripts.js"></script>
</body>
</html>