<div class="overlay js_overlay">
  <div class="l-container overlay--inner">
    <h3>about</h3>
    <p class="overlay--desc">
      I am a creative Front-End Developer with around 5 years of professional experience, based in Chicago. I strive for delivering high-quality, fully responsive user interfaces while using best practices and incorporating most efficient tools. I enjoy solving problems, collaborating with folks to create the best work we can possibly achieve, and overall making seamless beautiful websites.
    </p>
    <h3>skillset</h3>
    <ul class="overlay--desc">
      <li>DOM manipulation</li>
      <li>Drupal custom theming</li>
      <li>Vagrant/Git/Node workflow</li>
      <li>Mobile-first responsive development</li>
      <li>IE 8/9/10/11, iOs, Android, Modern browsers compliance </li>
    </ul>
    <h3>best at</h3>
    <p class="overlay--desc">HTML5/CSS3/SASS/jQuery/JS/PHP</p>
  </div>
</div>
