<div class="overlay js_overlay">
  <div class="l-container overlay--inner">
    <h3>about</h3>
    <p class="overlay--desc">Hello World, I'm Jackelin, a Front-End expert with lots of Drupal experience. I bring designs to digital life and architect solutions to UX and technical problems. I strive for delivering high quality sites while building with sustainable code.</p>
    <h3>skillset</h3>
    <ul class="overlay--desc">
      <li>DOM manipulation</li>
      <li>Drupal custom theming</li>
      <li>Vagrant/Git/Node workflow</li>
      <li>Mobile-first responsive development</li>
      <li>IE 8/9/10/11, iOs, Android, Modern browsers compliance </li>
    </ul>
    <h3>best at</h3>
    <p class="overlay--desc">HTML/CSS/SASS/jQuery/Javascript/PHP</p>
    {{!
    <h3>contact</h3>
    <form id="contact" role="form" class="contact-form">
      <input type="text" name="fullname" placeholder="name.."> 
      <input type="text" name="email" placeholder="email.."> 
      <textarea name="comment" id="" cols="30" rows="10" placeholder="comment.."></textarea>
      <div class="submit-wrapper">
      	<input class="button" type="submit" name="submit" value="submit">
      </div>
    </form>
    }}
  </div>
</div>