<div class="overlay js_overlay">
  <div class="l-container overlay--inner">
    <h3>about</h3>
    <p class="overlay--desc">Hello World, I'm Jackelin, a passionate Web Developer with lots of Drupal experience and a focus in Front-End development. I bring designs to digital life and architect solutions to UX and technical problems.  
    I strive for delivering high-quality user interfaces while using best practices and incorporating most efficient tools.</p>
    <h3>skillset</h3>
    <ul class="overlay--desc">
      <li>DOM manipulation</li>
      <li>Drupal custom theming</li>
      <li>Vagrant/Git/Node workflow</li>
      <li>Mobile-first responsive development</li>
      <li>IE 8/9/10/11, iOs, Android, Modern browsers compliance </li>
    </ul>
    <h3>best at</h3>
    <p class="overlay--desc">HTML5/CSS3/SASS/jQuery/JS/PHP</p>
  </div>
</div>
